{% extends 'base.html' %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock title %}

{% block sidebar %}
    {% include '_sidebar.html' %}
{% endblock sidebar %}

{% block content %}


    {% for item in news %}

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if item.photo %}
                        <img src="{{ item.photo.url }}" alt="" width="160" height="auto">
                    {% else %}
                        <img src="#" class="img-fluid rounded-start" alt="Image for news">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.content|truncatewords:50 }}</p>
                        <a href="{{ item.get_absolute_url }}" class="card-link">Read more... ></a>
                        <div class="card-footer text-muted">
                            <p class="card-text"><small
                                    class="text-muted">Category: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a></small>
                            </p>
                            <p class="card-text"><small
                                    class="text-muted">{{ item.created_at|date:"Y-m-d H:i:s" }}</small>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock content %}